.wrapper {
    width: 960px;
    margin: 0 auto;
}
.content {
    padding: 20px;
}
.loading {
    text-align: center;
}
.panel {
    clear: both;
}
.panel-body {
    white-space: pre-line;
}
.posting_form {
    text-align: center;
}
.thread_form {
    width: 650px;
    margin: 0 auto;
    margin-bottom: 15px;
}
.post_form {
    width: 350px;
    float: right;
}
.posting_form .panel-heading {
    cursor: pointer;
}
.posting_form textarea {
    resize: none;
    margin: 10px auto;
}
.thread_form textarea {
    width: 500px;
    height: 220px;
}
.posting_title {
    width: 500px;
    margin: auto;
}
.post_form textarea {
    width: 300px;
    height: 120px;
}
.btn {
    outline: none;
}
.post {
    margin-left: 50px;
}
.color_panel {
    float: right;
}
.circle {
    padding: 5px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin: 0 auto;
}
.full_read_btn {
    float: right;
    margin-left: 15px;
    color: #eb6864;
}
.jumbotron h4.modal-title {
    color: white;
}
.count_panel {
    width: 300px;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: -10px;
    text-align: center;
    background: #d7d7d7;
}
.more_posts {
    cursor: pointer;
    transition-duration: 0.5s;
}
.more_posts:hover {
    cursor: pointer;
    color: white;
    background: #777777;
}

/* markdown */
.crossed {
    text-decoration: line-through;
}
.spoiler {
    background: #606060;
    color: #606060;
}
.spoiler:hover {
    color: white;
}
.quote {
    color: #eb6864;
}
.modal-header h4.modal-title {
    color: black;
}
.admin_btns {
    float: right;
}


/*login panel*/
.login {
    width: 400px;
    margin: auto;
    text-align: center;
}

/* other */
.clearfix {
    clear: both;
    overflow: hidden;
}
.clearfix:after {
    content: '.';
}